@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 50vw;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 50vw;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}
.blog-details h2{
  color: #f1356d;
  margin-bottom: 1vw;
}
.blog-details div{
  margin: 1vw 0;
  line-height: 1.5em;
  font-size: 110%;
  text-align: justify;
}
.create h2{
  text-align: center;
  color:#f1356d;
}
input, textarea, select{
  width: 100%;
  font-size: 1.2vw;
  padding: 10px;
  border-radius: 35px;
  box-sizing: border-box;
  margin: 10px 0;
}
label{
  text-align: left;
  display: block;
}
textarea{
  max-height: 200px;
  min-height: 200px;
}
form{
  margin: 0 auto;
  font-size: 1.2vw;
  padding: 10px;
  width: 100%;
}
.create{
  max-width: 50vw;
  text-align: center;
  margin: 0 auto;
}
.create button{
  margin-top: 20px;
  width: 100px;
  color: white;
  background-color: #f1356d;
  padding: 10px;
  border-radius: 5px;
}


